{% load static %}
<!DOCTYPE html>

<html lang="en" class="no-js">
    <head>
        <title>Oblock</title>
        <link href="{% static 'css/vendors/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/oneui.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div id="page-loader"></div>
        {% block content %}
        {% endblock %}

        {% block js %}
            <script src="{% static 'js/vendors/jquery.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/vendors/popper.min.js' %}" type="text/javascript"></script>
            <script src="{% static 'js/vendors/bootstrap.js' %}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>